@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: var(--light-grey);
}

/* #root {
  min-height: 100%;
  padding: 5px;
  border: 3px dashed;
} */

main {
}

.card {
  max-width: 700px;
  width: 100%;
  background-color: white;
  margin: auto;
  padding: 2rem 3rem;
}

.date-wrapper {
  display: flex;
  column-gap: 1rem;
  border-bottom: 1px solid;
  padding-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 10rem;
  padding: 6px 0.5rem;
  margin-top: 0.3rem;
  font-family: inherit;
  font-size: 32px;
}

.age-result > div {
  display: flex;
  column-gap: 0.5rem;
}
